<div class="promo_text py-[50px] bg-[#dffbdc] dark:bg-[#121212]">
  <div class="">
    <div class="marquee">
      <div class="marquee-content">
        {% for item in (1..4) %}
          <div class="marquee-group dark:text-white text-black duration-300">
            <span class="marquee-item"
              >Creative Design
              {{- 'star_square.svg' | inline_asset_content -}}
            </span>
            <span class="marquee-item"
              >Smart Strategy
              {{- 'star_square.svg' | inline_asset_content -}}
            </span>
            <span class="marquee-item"
              >Creative Design
              {{- 'star_square.svg' | inline_asset_content -}}
            </span>
            <span class="marquee-item"
              >Smart Strategysssssssssssssss
              {{- 'star_square.svg' | inline_asset_content -}}
            </span>
            <span class="marquee-item"
              >Creative Design Creative Design
              {{- 'star_square.svg' | inline_asset_content -}}
            </span>
            <span class="marquee-item"
              >Brand Growth
              {{- 'star_square.svg' | inline_asset_content -}}
            </span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
