<div class="pb-20 overflow-hidden">
  <div class="container">
    <div class="section_heading lg:w-1/2 w-2/3 w-full px-4">
      <h1 class="md:text-5xl text-3xl capitalize">Our client’s Happiness</h1>
      <p class="md:text-xl my-4 text-sm">
        The Best electronics products continue to drive innovation and shape the way we live, work, and interact with
        our environment.
      </p>
    </div>
    <div class="testimonial_carousal pt-10">
      {% for item in (1..10) %}
        <div class="p-3">
          <div class="testim-inner first relative mt-10 mb-5 px-6 pb-6 text-center border border-[#e5efff] bg-[#fefefe] rounded-md transition-all duration-500 ease-in-out">
            <img
              src="https://abushamacd.github.io/Softlab_SAAS/assets/img/testimonials3.jpg"
              height=""
              width=""
              alt="testimonials"
              class="testim-img relative !inline-block -mt-[55px] max-w-[110px] border border-[#e5efff] rounded-full p-[5px] bg-white transition-colors duration-500 ease-in-out"
            >
            <p class="my-[20px] mb-[5px] text-[17px] leading-[28px] italic">
              The attention of a traveller, should be particularly turned to the various works of the nature.
            </p>
            <h6 class="mb-[5px] text-[16px] leading-[24px] font-bold text-[#339c00]">
              Emily Richards<span class="job-text"> - Copywriter</span>
            </h6>
            <div class="testim-rating flex gap-2 justify-center">
              <div class="h-4 w-4 ">{{- 'star.svg' | inline_asset_content -}}</div>
              <div class="h-4 w-4">{{- 'star.svg' | inline_asset_content -}}</div>
              <div class="h-4 w-4">{{- 'star.svg' | inline_asset_content -}}</div>
              <div class="h-4 w-4">{{- 'star.svg' | inline_asset_content -}}</div>
              <div class="h-4 w-4">{{- 'star.svg' | inline_asset_content -}}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
